/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    background: #F5F5F5;
}

h1 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #535353;
    margin-top: 2.5em;
    margin-bottom: 1.3em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    align-self: center;
}

.card {
    height: 130px;
    background: #F9F9F9;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    margin-bottom: 25px;
    flex-basis: 30.5%;
    justify-content: center;
}

.grid-container {
    /* background: teal; */
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.text-container {
    align-self: center;
}

.text-container h2 {
    font-size: .9em;
    color: #252525;
    margin-bottom: 7px;
}

.text-container h2,
.text-container p {
    margin-left: 20px;
    margin-top: 5px;
}

.text-container p {
    margin-bottom: 5px;
    font-size: .75em;
    color: #8F8F8F;
}

/* ============================================= */
/*              Flexbox Containers               */
/* ============================================= */

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media(max-width: 1185px) {
    .card {
        flex-basis: 47.5%;
    }
}

@media(max-width: 641px) {
    .card {
        flex-basis: 100%;
    }
}
